ahmm_mls_binary
3r_simulation/SELAM
3r_simulation/ahmm-s
3r_simulation/selam_outputs
3r_simulation/outputs
3r_simulation/output_files
3r_simulation/panels
3r_simulation/ahmms_outputs
3r_simulation/ahmmmls_outputs
3r_simulation/config_files
3r_simulation/selection
3r_simulation/drosophila_scaled
3r_simulation/demography
3r_simulation/model_file
3r_real/OUT
3r_real/model_file
log
best_model_file
best_model
best_lnl
